<article>
	<header>
		<h1><a href='{{ post.url }}'>{{ page.title }}</a></h1>
	</header>
	<aside class="gutter">
	  	{% if page.date %}
		<time datetime="">{{ page.date | date_to_long_string }}</time>
		{% endif %}
	    {% unless page.tags == empty %}
		<ul class="tag_box">
			{% assign tags_list = page.tags %}
			{% include JB/tags_list %}
		</ul>
	    {% endunless %}
		
	</aside>
	<div class="content">
		{{ content }}
	</div>		
</article>
		
{% assign pagination = page %}
{% include pagination.html %}
